#container {
  background-color: #f5f5dd;
  width:400px;
  height: 700px;
  padding: 30px;
}
#kwadrat1 {background-color: black;}
#kwadrat2 {background-color: black; opacity:0.75;}
#kwadrat3 {background-color: black; opacity:0.5;}
#kwadrat4 {background-color: rgb(0, 0, 0); opacity: 0.25;}

div div{
  width:150px;
  height: 150px;
  margin: auto;
  margin-top:10px;
}